@import '../scss/breakpoints';
@import '../scss/colors';
@import '../scss/typography';

$padding: 20px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
 // background-color: $body-bg;
  padding: 0;
  color: $base-color;
  //font-family: $body-font;
  //font-size: $body-font-size;
}

a {
  text-decoration: none;
  color: $highlight-color;

  &:hover {
    color: darken($highlight-color, 10%);
  }
}

.container {
  display: flex;
  flex-direction: column !important;

  @media screen and (min-width: $laptop) {
    height: 100%;
    flex-direction: row;
  }
}

.header {
  display: flex;
  padding: 0 $padding;
  width: 100%;
  color: $base-color;
  flex-direction: column;
}

.content {
  padding: $padding;
  width: 100%;
}

.tagline {
  margin: 10px 0;
  padding: 0 30px 20px;
}

.tagline__logo {
  float: right;
  width: 50px;
  height: auto;
  fill: $base-color;

  .logo__dot {
    fill: $highlight-color;
  }
}
